.btn {
  border-radius: 4px;
  border: none;
  font-family: var(--font-inter);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  height: min-content;
  width: min-content;
  text-decoration: none;
  text-wrap: nowrap;
}

.btn:hover {
  cursor: pointer;
}

.btn.primary {
  border: 2px solid var(--foreground);
  background-color: transparent;
  color: var(--foreground);

  &:hover {
    background-color: var(--foreground);
    color: var(--background);
  }
}

.btn.icon {
  background-color: transparent;
  color: var(--foreground);
  display: flex;
  transition: 0.3s ease;

  svg {
    width: 32px;
    height: 32px;
    stroke: var(--foreground);
  }

  &:hover {
    transform: rotate(15deg);

    svg {
      fill: gold;
    }
  }
}
